#root {
    font: 20px Arial Helvetica sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
}


.status {
    margin: 0 0 10px 0;
}


.square {
    background: white;
    border: 1px solid purple;
    font: 50px bold black Arial Helvetica sans-serif;
    float: left;
    line-height: 34px;
    height: 100px;
    margin: -1px -1px -1px -1px;
    padding: 0;
    text-align: center;
    width: 100px;
    cursor: pointer;
}


.square:focus {
    outline: none;
}


.game {
    display: flex;
    flex-direction: row;
}


button {
    margin: 20px 0 0 0;
    padding: 5%;
}


button:disabled {
    color: black;
}